.add-inventory-container {
  width: 95%;
  height: 55%;
  background-color: $tertiary-color-1;
  box-shadow: 0px 4px 4px rgba(192, 192, 192, 0.5);
  margin-left: 2.5%;
}

.add-inventory-form {
  padding: 30px;
  .add-inventory-input {
    width: 335px;
    height: 80px;
    // background-color: red;

    input {
      width: 320px;
      height: 28px;
      border: 1px solid $neutral-color-3;
      text-indent: 5px;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      appearance: none;
      -moz-appearance: textfield;
    }

    label {
      font-size: 14px;
      font-weight: 400px;
      color: $neutral-color-2;
    }
  }

  .add-inventory-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // padding: 15px;
  }
}

.add-inventory-submit {
  display: flex;
  justify-content: end;

  //   background-color: red;
  button {
    .btn {
      opacity: 0.5;
      @include button;
      margin-top: 1% !important;
    }
  }

  button:disabled {
    opacity: 0.5 !important;
    background-color: $secondary-color !important ;
  }

  .notDisabled {
    opacity: 1 !important;
    background-color: $secondary-color !important;
  }

  .barcode {
    position: absolute;
    margin: 8px 0 0 -30px;
    // top: 10px;
    // left: 10px;
    width: 22px;
    height: 16px;
    background-image: url("../icons/Barcon\ -\ Icon.svg");
    cursor: pointer;
    background-size: 100% 100%;
    // background-position: center;
  }
}
