.add-area {
  @extend .add-user;
  width: 750px !important;
  height: 250px !important;
}

.add-user-form {
  width: 95%;
  height: 67% !important;

  .add-user-input {
    input {
      width: 175% !important;
    }
  }
}

.price-submit {
  padding: 3% 3.1%;
}
