.edit-j {
  width: 95%;
  height: 12%;
  //   background-color: beige;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 2.5% 0 0 2.5%;

  .right-left-arrow {
    width: 9px;
    height: 15px;
    cursor: pointer;
    background-image: url("../icons/Right-left\ Arrow.svg");
    background-size: 100% 100%;
  }

  h5 {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.016em;
    color: $neutral-color-3;
    opacity: 0.5;
  }
}

.edit-job-d {
  @extend .edit-j;
  height: 35% !important;
  margin-top: 1%;
  background-color: $tertiary-color-1;
  height: 30%;
  box-shadow: 0px 4px 4px rgba(192, 192, 192, 0.5);
}

.edit-job-form {
  // background-color: red;
  width: 100%;

  padding: 2%;
  .edit-j-desc {
    display: flex;
    flex-direction: column;
    gap: 4px;
    input {
      width: 100%;
      height: 28px;
      border: 1px solid $neutral-color-3;
      text-indent: 5px;
      outline: none;
      //   margin-left: 2%;
    }

    label {
      //   margin-left: 2%;
      font-size: 16px;
      font-weight: 400px;
      color: $neutral-color-2;
    }
  }
}



.add-inventory-submit {
  button {
    opacity: 0.5;
    @include button;
    margin-top: 2%;
  }
}
