.nav-container {
  width: 100%;
  height: 70px;
  background-color: #af2024;
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

.left-icon {
  width: 100%;
  height: 70px;
  background-color: #af2024;
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 36px;
  height: 32px;
  margin-left: 10px;
  .menu-icon-admin {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: url("../icons/ButtonMenu\(EDE3\).svg");
  }
}

.logo-icon {
  width: 100px;
  height: 50px;
  margin-left: 20px;
  .logo-icon-admin {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: url("../icons/Logo_new_admin.svg");
  }
}

.user {
  width: 130px;
  height: 50px;
  // background-color: red;
  display: flex;
  align-items: center;
  margin-right: 20px;
  justify-content: space-between;
}

.user-icon {
  width: 38px;
  height: 38px;
  // background-color: blue;
  border-radius: 50%;
}

.user-icon-admin {
  width: 100%;
  height: 100%;
  background-image: url("../icons/Ellipse.svg");
  // background-size: 100% 100%;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));

  background-size: cover;
}

.user-name p {
  color: $tertiary-color-2;
  font-size: 16px;
}

.dropdown-arrow {
  width: 12px;
  height: 6px;

  .dropdown-arrow-icon {
    width: 100%;
    height: 100%;
    background-image: url("../icons/Vector.svg");
    background-size: cover;
  }
}
