.nav-container {
  width: 100%;
  height: 70px;
  background-color: #af2024;
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

.left-icon {
  width: 100%;
  height: 70px;
  background-color: #af2024;
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 36px;
  height: 32px;
  margin-left: 10px;
  .menu-icon-admin {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: url("../icons/ButtonMenu\(EDE3\).svg");
  }
}

.logo-icon {
  width: 100px;
  height: 50px;
  margin-left: 20px;
  .logo-icon-admin {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: url("../icons/Logo_new_admin.svg");
  }
}

.user {
  width: 130px;
  height: 50px;
  // background-color: red;
  display: flex;
  align-items: center;
  margin-right: 20px;
  justify-content: space-between;
}

.user-icon {
  width: 38px;
  height: 38px;
  // background-color: blue;
  border-radius: 50%;
}

.user-icon-admin {
  width: 100%;
  height: 100%;
  background-image: url("../icons/Ellipse.svg");
  // background-size: 100% 100%;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));

  background-size: cover;
}

.user-name p {
  color: $tertiary-color-2;
  font-size: 16px;
}

.dropdown-arrow {
  width: 12px;
  height: 6px;

  .dropdown-arrow-icon {
    width: 100%;
    height: 100%;
    background-image: url("../icons/Vector.svg");
    background-size: cover;
  }
}

.profile-setting-container {
  width: 191px;
  height: 96px;
  background-color: beige;
  border: 1px solid $secondary-color;
  position: relative;
  top: 55px;
  right: 18px;
  position: fixed;

  .profile-setting {
    width: 191px;
    height: 50%;
    background-color: $tertiary-color-2;
    display: flex;
    // padding: 0px 16px;
    align-items: center;
    // justify-content: center;
    gap: 25px;
    cursor: pointer;

    .profile-setting-icon {
      width: 18px;
      height: 20px;
      margin-left: 20px;
      background-image: url("../icons/PlayerSettings\(EF58\).svg");
      // background-size: cover;
      background-repeat: no-repeat;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.016em;
      color: $neutral-color-3;
    }
  }

  .logout {
    width: 191px;
    height: 50%;
    display: flex;
    align-items: center;
    // justify-content: center;
    background-color: $tertiary-color-2;
    gap: 25px;
    cursor: pointer;

    .logout-icon {
      width: 18px;
      height: 20px;
      background-image: url("../icons/ReplyMirrored\(EE35\).svg");
      background-repeat: no-repeat;
      margin-left: 20px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.016em;
      color: $neutral-color-3;
    }
  }
}

.profile-setting:hover {
  background-color: $tertiary-color-1;
}

.logout:hover {
  background-color: $tertiary-color-1;
}
