.price-m {
  display: flex;
  justify-content: space-between;
  //   background-color: beige;
  width: 96%;
  margin-left: 2%;
  margin-top: 3%;
  h3 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.0145455em;
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  //   background-color: red;
  width: 16%;

  p {
    font-size: 16px;
    font-weight: 400;
    color: #4c4d4f;
  }
}

.price-f {
  display: flex;
  gap: 25px;
  margin-top: 1%;
  margin-left: 2.5%;

  .price-add {
    @include button;
  }

  .price-download {
    @include button;
    display: flex;
    gap: 10px;
    .dropdown-arrow-icon {
      background-size: 100% 100%;
    }
  }

  .price-setting {
    @include button;
  }

  .price-csv {
    @include button;
    display: flex;
    gap: 10px;
  }
}
