.user-m {
  display: flex;
  justify-content: space-between;
  //   background-color: beige;
  width: 96%;
  margin-left: 2%;
  margin-top: 3%;
  h3 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.0145455em;
  }
}

.toggle {
  input[type="checkbox"] {
    position: relative;
    width: 41px;
    height: 24px;
    -webkit-appearance: none;
    appearance: none;
    background: grey;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    margin: 4px;
    transition: 0.4s;
  }

  input[type="checkbox"]:checked::before {
    transform: translateX(110%);
    background: #fff;
  }

  input[type="checkbox"]:checked {
    background: #27ae60;
  }
}

.hide {
  width: 23px;
  height: 16px;
  background-image: url(../icons/hide.svg);
  margin-top: -7px;
  cursor: pointer;
}

.model-add-user {
  @include center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;

  .add-user {
    width: 850px;
    height: 366px;
    border: 1px solid #c0c0c0;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(192, 192, 192, 0.5);

    .add-user-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2% 2.6% 1% 2.5%;

      h3 {
        font-size: 20px;
        font-family: Roboto;
        font-weight: 700;
        letter-spacing: 0.407px;
        // padding: 15px;
      }

      .cancel-icon {
        width: 15px;
        height: 15px;
        background-image: url("../icons/Cancel_Icon.svg");
        background-size: cover;
        cursor: pointer;
      }
    }

    .add-user-form {
      width: 95%;
      height: 80%;
      // background-color: $tertiary-color-1;
      margin-left: 2.5%;
      // padding: 2.5%;
      background-color: $tertiary-color-1;
      box-shadow: 0px 4px 4px 0px rgba(192, 192, 192, 0.5);
      .add-user-data {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .add-user-input {
          width: 385px;
          height: 65px;
          // background-color: red;
          display: flex;
          flex-direction: column;
          gap: 7px;
          margin: 15px 0 0 10px;

          input {
            width: 370px;
            height: 35px;
            border: 1px solid $neutral-color-3;
            text-indent: 5px;
          }

          label {
            font-size: 14px;
            font-weight: 400px;
            color: $neutral-color-2;
          }
        }
      }
    }
  }
}

.add-user-submit {
  display: flex;
  justify-content: end;
  padding: 0 1.5%;
  button {
    @include button;
  }
}

.price-submit {
  display: flex;
  justify-content: end;
  padding: 6% 1.5%;
  button {
    @include button;
  }
}

.price-m-input {
  @extend .add-user-input;
  margin: 20px 0 0 10px !important;
}
