<div class="nav-container">

<div class="left-icon">



    <div class="menu-icon">
        <div class="menu-icon-admin">

        </div>
    </div>


    <div class="logo-icon">

        <div class="logo-icon-admin">

        </div>

    </div>
</div>


    <div class="user">
        <div class="user-icon">
<div class="user-icon-admin">

</div>
        </div>

        <div class="user-name">
            <p>
                Jason
            </p>
        </div>

        <div class="dropdown-arrow">

            <div class="dropdown-arrow-icon">
                
            </div>

        </div>
    </div>

</div>