<div class="nav-container">

    <div class="left-icon">



        <div class="menu-icon">
            <div class="menu-icon-admin">

            </div>
        </div>


        <div class="logo-icon">

            <div class="logo-icon-admin">

            </div>

        </div>
    </div>


    <div class="user">
        <div class="user-icon">
            <div class="user-icon-admin">

            </div>
        </div>

        <div class="user-name">
            <p>
                Jason
            </p>
        </div>

        <div class="dropdown-arrow" (click)="toggle()">

            <div class="dropdown-arrow-icon">

            </div>

        </div>
    </div>

</div>

<div class="profile-setting-container" *ngIf="profile">
    <div class="profile-setting">
        <div class="profile-setting-icon"></div>
        <p>Profile Settings</p>
    </div>
    <div class="logout" (click)="logout()">
        <div class="logout-icon"></div>
        <p>Logout</p>
    </div>
</div>