<div class="inventory-log-conteiner">


    <div class="inventory-box-header">
        <p>Job Numbers</p>
        <input type="text" placeholder="Search">
        <div class="download">DOWNLOAD DATA <div class="dropdown-arrow-icon"></div>
        </div>
    </div>

    <app-modal-delete></app-modal-delete>

    <table>
        <tr>
            <th style="border-left: none;">
                <div class="th-top"> <label class="check-box_container">
                        <p>Jobs#</p>
                        <input type="checkbox" (change)="change_input_check($event)">
                        <span class="checkmark"></span>
                    </label>
                    <div class="up-down-arrow"></div>
                </div>
            </th>
            <th>Job Description</th>
            <th>
                <div class="th-top">Date<div class="up-down-arrow"></div>
                </div>
            </th>
            <th>
                <div class="th-top">Total Quantity<div class="up-down-arrow"></div>
                </div>
            </th>
            <th>
                <div class="th-top">Invoiced<div class="up-down-arrow"></div>
                </div>
            </th>
            <th style="border-right: none;">Actions</th>
        </tr>
        <tr *ngFor="let item of inventory_data">
            <td style="text-align: center;">

                <label class="check-box_container">
                    <p>{{item.job_id}}</p>
                    <input type="checkbox" [checked]="check">
                    <span class="checkmark"></span>
                </label>

            </td>
            <td>{{item.job_description}}</td>
            <td>10/22/2019</td>
            <td style="text-align: right;">{{item.quantity}}</td>
            <td class="table-open">open <div class="table-dropdown-arrow-icon"></div>
            </td>
            <td>
                <div class="actions">
                    <div class="print"></div>
                    <div class="edit" [routerLink]="['edit']" [queryParams]="{id:item.id}"></div>
                    <div class="delete" (click)="general.showDialog=true"></div>
                </div>
            </td>
        </tr>
    </table>
</div>