<div class="login-form">

    <div class="login">

        <div>
            <h2 class="login-txt">
                Reset Password
            </h2>
            <div class="return-login">
                <p class="verify-txt">
                    Password must be alphanumeric and minimum 8 characters long
                </p>
            </div>
        </div>

        <form [formGroup]="reset_p" class="login-form-1" (ngSubmit)="reset()">

            <label class="form-label" for="">New Password</label>
            <input class="form-input" type="password" name="" placeholder="Enter company code" />
            <span class="error-msg" *ngIf="password && password.invalid && password.touched">Enter new password</span>

            <label class="form-label" for="">Confirm New Password</label>
            <input class="form-input" type="password" name="" placeholder="Enter email/employee id"
                formControlName="password" />
            <span class="error-msg" *ngIf="password && password.invalid && password.touched">Password mismatch</span>



            <button class="login-button">Continue</button>

        </form>

    </div>

</div>