$primary-color: #AF2034;

$secondary-color: #00539F;

$tertiary-color-1: #E5EEf5;

$tertiary-color-2: #FFFFFF;


$neutral-color-1: #B2B2B2;
$neutral-color-2: #333333;
$neutral-color-3: #231F20;

$hiline-color-1: #414042;

$hiline-color-2: #E4E9EC;

$font-family: 'Roboto';
$font-style: 'normal';