<div class="profile-heading">
    <h3>PROFILE SETTINGS</h3>
</div>


<div class="profile-detail-box">

    <div class="profile-icon-section">

        <div class="profile-icon-box">
            <div class="profile-icon"></div>
        </div>
        <button>Change</button>

    </div>




    <div class="profile-detail">
        <div class="profile-label-box">
            <p class="profile-label">Name</p>
            <h6 class="a" class="profile-name">Jason Lukowicz</h6>
        </div>


        <div class="profile-label-box">
            <p class="profile-label">Employee ID</p>
            <h6 class="profile-name">123456</h6>
        </div>

        <div class="profile-label-box">
            <p class="profile-label">Email</p>
            <h6 class="profile-name">Jasonlukowicz@example.com</h6>
        </div>
    </div>

</div>

<div class="change-password-box">
    <form class="change-password-form">
        <h5>Change Password</h5>
        <div class="change-password-data">



            <div class="change-password-input">
                <label for="">Change password</label>
                <input type="number" placeholder="Enter current password ">
            </div>

            <div class="change-password-input">
                <label for="">New Password</label>
                <input type="text" placeholder="Enter new password">
            </div>

            <div class="change-password-input">
                <label for=""> New Password</label>
                <input type="text" placeholder="Enter new password">

            </div>



        </div>

        <div class="change-password-submit">


            <button type="submit">SAVE</button>
        </div>

    </form>



</div>