<div class="price-m">
    <h3>
        AREA MANAGEMENT
    </h3>
</div>

<app-modal-delete></app-modal-delete>

<table>
    <tr>
        <th style="border-left: none; width: 79%;">
            <div class="th-top"> <input class="checkbox" type="checkbox">Area<div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Activate/Deactivate <div class="up-down-arrow"></div>
            </div>
        </th>
        <th style="border-right: none;">
            <div class="th-top">Actions<div class="up-down-arrow"></div>
            </div>
        </th>
    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>

            <div class="actions">

                <div class="edit"></div>
                <div class="delete" (click)="general.showDialog=true"></div>
            </div>
        </td>

    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>

            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>

    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>

            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>

    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>

            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>

    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>

            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>

    </tr>


</table>

<div class="price-f">

    <button class="price-add">ADD</button>

</div>