<div class="price-m">
    <h3>
        AREA MANAGEMENT
    </h3>
</div>

<app-modal-delete></app-modal-delete>

<table>
    <tr>
        <th style="border-left: none; width: 79%;">
            <div class="th-top"> <input class="checkbox" type="checkbox">Area<div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Activate/Deactivate <div class="up-down-arrow"></div>
            </div>
        </th>
        <th style="border-right: none;">
            <div class="th-top">Actions<div class="up-down-arrow"></div>
            </div>
        </th>
    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>

            <div class="actions">

                <div class="edit"(click)="general.add_user=true"></div>
                <div class="delete" (click)="general.showDialog=true"></div>
            </div>
        </td>

    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>

            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>

    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>

            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>

    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>

            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>

    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>

            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>

    </tr>


</table>

<div class="price-f">

    <button class="price-add" (click)="general.add_user=true">ADD</button>

</div>


<!-- add modal for area -->

<div class="model-add-user" *ngIf="general.add_user">
    <div class="add-user">

        <div class="add-user-head">

            <h3>Add Area</h3>

            <div class="cancel-icon" (click)="general.add_user=false"></div>

        </div>

        <form class="add-user-form">

            <div class="add-user-data">

                <div class="price-m-input">
                    <label for="">Area Name</label>
                    <input type="text" placeholder="Enter Number">
                </div>

            </div>

            <div class="price-submit">
                <button>ADD</button>
            </div>
        </form>



    </div>
</div>

<!-- edit modal for Area Management -->

<div class="model-add-user" *ngIf="general.add_user">
    <div class="add-user">

        <div class="add-user-head">

            <h3>Edit Area</h3>

            <div class="cancel-icon" (click)="general.add_user=false"></div>

        </div>

        <form class="add-user-form">

            <div class="add-user-data">

                <div class="price-m-input">
                    <label for="">Area Name</label>
                    <input type="text" placeholder="Enter Number">
                </div>

            </div>

            <div class="price-submit">
                <button>UPDATE</button>
            </div>
        </form>



    </div>
</div>