<div class="pagination">
    <div class="pagination-box">
        <div class="rows-p-p">
            <p>Rows Per Page: {{item_per_page.length}}</p>
            <div class="table-dropdown-arrow-icon"></div>
        </div>

        <div class="previous-next">
            <span>1-{{item_per_page.length}} of {{total_rows}}</span>
            <button class="left-arrow" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)"></button>
            <button class="right-arrow" [disabled]="currentPage === totalPages" (click)="getDisplayedRows()"></button>

        </div>
    </div>


</div>