<div class="user-m">
    <h3>USER MANAGEMENT</h3>
</div>


<app-modal-delete></app-modal-delete>

<!-- user management add modal -->
<div class="model-add-user" *ngIf="general.add_user">
    <div class="add-area">

        <div class="add-user-head">

            <h3>Add User</h3>

            <div class="cancel-icon" (click)="general.add_user=false"></div>

        </div>

        <form class="add-user-form">

            <div class="add-user-data">

                <div class="add-user-input">
                    <label for="">Employee Id*</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Employee Name*</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Select Role</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Password</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Email</label>
                    <input type="text" placeholder="Enter Number">
                </div>
            </div>

            <div class="add-user-submit">
                <button>ADD</button>
            </div>
        </form>



    </div>
</div>

<table>
    <tr>
        <th style="border-left: none;">
            <div class="th-top"> <input class="checkbox" type="checkbox">Employee Id <div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Employee Name <div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Email<div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Role<div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Password<div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Status<div class="up-down-arrow"></div>
            </div>
        </th>
        <th style="width: 50px;">Password Reset</th>
        <th style="border-right: none;">Actions</th>
    </tr>
    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td class="th-top">

            <div class="user-icon">
                <div class="user-icon-admin"></div>
            </div>

            Connie Watson

        </td>
        <td>connie.watson@example.com</td>
        <td>Manager</td>
        <td>
            <div class="th-top">********<div class="hide"></div>
            </div>
        </td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>Reset</td>
        <td>

            <div class="actions">

                <div class="edit" (click)="general.add_user=true"></div>
                <div class="delete" (click)="general.showDialog=true"></div>
            </div>
        </td>
    </tr>


    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td class="th-top">

            <div class="user-icon">
                <div class="user-icon-admin"></div>
            </div>

            Connie Watson

        </td>
        <td>connie.watson@example.com</td>
        <td>Manager</td>
        <td>
            <div class="th-top">********<div class="hide"></div>
            </div>
        </td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>Reset</td>
        <td>

            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>



    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td class="th-top">

            <div class="user-icon">
                <div class="user-icon-admin"></div>
            </div>

            Connie Watson

        </td>
        <td>connie.watson@example.com</td>
        <td>Manager</td>
        <td>
            <div class="th-top">********<div class="hide"></div>
            </div>
        </td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>Reset</td>
        <td>

            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>



    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td class="th-top">

            <div class="user-icon">
                <div class="user-icon-admin"></div>
            </div>

            Connie Watson

        </td>
        <td>connie.watson@example.com</td>
        <td>Manager</td>
        <td>
            <div class="th-top">********<div class="hide"></div>
            </div>
        </td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>Reset</td>
        <td>

            <div class="actions">
                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>




    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td class="th-top">

            <div class="user-icon">
                <div class="user-icon-admin"></div>
            </div>

            Connie Watson

        </td>
        <td>connie.watson@example.com</td>
        <td>Manager</td>
        <td>
            <div class="th-top">********<div class="hide"></div>
            </div>
        </td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td>Reset</td>
        <td>

            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>
</table>

<div class="price-f">

    <button class="price-add" (click)="general.add_user=true">ADD</button>

</div>

<!-- user management edit modal-->

<div class="model-add-user" *ngIf="general.add_user">
    <div class="add-user">

        <div class="add-user-head">

            <h3>Edit User</h3>

            <div class="cancel-icon" (click)="general.add_user=false"></div>

        </div>

        <form class="add-user-form">

            <div class="add-user-data">

                <div class="add-user-input">
                    <label for="">Employee Id*</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Employee Name*</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Select Role</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Password</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Email</label>
                    <input type="text" placeholder="Enter Number">
                </div>
            </div>

            <div class="add-user-submit">
                <button>Update</button>
            </div>
        </form>

    </div>
</div>