<div class="user-m">
    <h3>USER MANAGEMENT</h3>
</div>


<app-modal-delete></app-modal-delete>

<!-- user management add modal -->
<div class="model-add-user" *ngIf="general.add_user">
    <div class="add-user">

        <div class="add-user-head">

            <h3>Add User</h3>

            <div class="cancel-icon" (click)="general.add_user=false"></div>

        </div>

        <form class="add-user-form">

            <div class="add-user-data">

                <div class="add-user-input">
                    <label for="">Employee Id*</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Employee Name*</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Select Role</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Password</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Email</label>
                    <input type="text" placeholder="Enter Number">
                </div>
            </div>

            <div class="add-user-submit">
                <button>ADD</button>
            </div>
        </form>



    </div>
</div>

<table>
    <tr>
        <th style="border-left: none;">
            <div class="th-top"> <label class="check-box_container">
                    <p>Employee ID</p>
                    <input type="checkbox" (change)="change_input_check($event)">
                    <span class="checkmark"></span>
                </label>
                <div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Employee Name <div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Email<div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Role<div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Password<div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Status<div class="up-down-arrow"></div>
            </div>
        </th>
        <th style="width: 50px;">Password Reset</th>
        <th style="border-right: none;">Actions</th>
    </tr>
    <tr *ngFor="let item of user_management_data">
        <td>

            <label class="check-box_container">
                <p>{{item.employee_id}}</p>
                <input type="checkbox" [checked]="check">
                <span class="checkmark"></span>
            </label>

        </td>
        <td class="th-top">

            <div class="user-icon">
                <div class="user-icon-admin"></div>
            </div>

            {{item.employee_name}}

        </td>
        <td>{{item.email}}</td>
        <td>{{item.role}}</td>
        <td>
            <div class="th-top">{{item.password}}<div class="hide"></div>
            </div>
        </td>
        <td>
            <div class="toggle">
                <input type="checkbox">
            </div>

        </td>
        <td class="reset">{{item.password_reset}}</td>
        <td>

            <div class="actions">

                <div class="edit" (click)="general.edit_user=true"></div>
                <div class="delete" (click)="general.showDialog=true"></div>
            </div>
        </td>
    </tr>
</table>

<div class="price-f">

    <button class="price-add" (click)="general.add_user=true">ADD</button>

</div>

<!-- user management edit modal-->

<div class="model-add-user" *ngIf="general.edit_user">
    <div class="add-user">

        <div class="add-user-head">

            <h3>Edit User</h3>

            <div class="cancel-icon" (click)="general.edit_user=false"></div>

        </div>

        <form class="add-user-form">

            <div class="add-user-data">

                <div class="add-user-input">
                    <label for="">Employee Id*</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Employee Name*</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Select Role</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Password</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="add-user-input">
                    <label for="">Email</label>
                    <input type="text" placeholder="Enter Number">
                </div>
            </div>

            <div class="add-user-submit">
                <button>Update</button>
            </div>
        </form>

    </div>
</div>