<div class="user-m">
    <h3>USER MANAGEMENT</h3>
</div>

<table>
    <tr>
        <th style="border-left: none;">
            <div class="th-top"> <input class="checkbox" type="checkbox">Employee Id <div class="up-down-arrow"></div>
            </div>
        </th>
        <th>Employee Name</th>
        <th>
            <div class="th-top">Email<div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Role<div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Password<div class="up-down-arrow"></div>
            </div>
        </th>
        <th style="border-right: none;">Status</th>
        <th style="border-right: none;">Password Reset</th>
        <th style="border-right: none;">Actions</th>
    </tr>
    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>Connie Watson</td>
        <td>connie.watson@example.com</td>
        <td style="text-align: right;">Manager</td>
        <td class="table-open">****** <div class="table-dropdown-arrow-icon"></div>
        </td>
        <td>
            
        </td>
        <td>Reset</td>
        <td>

            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>
</table>