<div class="edit-j">

    <div class="right-left-arrow" routerLink="/inventory"></div>
    <h5>Edit Job# - 123456</h5>

</div>

<div class="edit-job-d">
    <form [formGroup]="edit_job" class="edit-job-form" (ngSubmit)="handleEditDescriptionForm(edit_job.value)">
        <div class="edit-j-desc">
            <label for=""
                [ngClass]="{'error':job_description && job_description.invalid && job_description.touched}">Job
                Description</label>
            <input type="text" formControlName="job_description" ngModel="{{description}}">
            <span class="err-msg" *ngIf="job_description && job_description.invalid && job_description.touched">Field
                is required
            </span>
        </div>


        <div class="add-inventory-submit">

            <button class="btn" type="submit" [disabled]="!edit_job.valid"
                [class.notDisabled]="edit_job.valid">Update</button>
        </div>
    </form>
</div>