<div class="price-m">
    <h3>
        PRICE & PARTS MANAGEMENT
    </h3>

    <div class="filter">

        <p>Filter by : Non-Hiline</p>
        <div class="table-dropdown-arrow-icon"></div>
    </div>
</div>

<table>
    <tr>
        <th style="border-left: none;">
            <div class="th-top"> <input class="checkbox" type="checkbox">Part# <div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Part Description <div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Cost EA<div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Price EA<div class="up-down-arrow"></div>
            </div>
        </th>
        <th style="border-right: none;">
            <div class="th-top">Actions<div class="up-down-arrow"></div>
            </div>
        </th>
    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>


</table>

<div class="price-f">

    <button class="price-add">ADD</button>
    <button class="price-download">DOWNLOAD DATA <div class="dropdown-arrow-icon"></div></button>
    <button class="price-setting">PRICE SETTINGS</button>
    <button class="price-csv">CSV/EXCEL<div class="dropdown-arrow-icon"></div></button>

</div>