<div class="price-m">
    <h3>
        PRICE & PARTS MANAGEMENT
    </h3>

    <div class="filter">

        <p>Filter by : Non-Hiline</p>
        <div class="table-dropdown-arrow-icon"></div>
    </div>
</div>

<app-modal-delete></app-modal-delete>

<table>
    <tr>
        <th style="border-left: none;">
            <div class="th-top"> <input class="checkbox" type="checkbox">Part# <div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Part Description <div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Cost EA<div class="up-down-arrow"></div>
            </div>
        </th>
        <th>
            <div class="th-top">Price EA<div class="up-down-arrow"></div>
            </div>
        </th>
        <th style="border-right: none;">
            <div class="th-top">Actions<div class="up-down-arrow"></div>
            </div>
        </th>
    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit" (click)="general.add_user=true"></div>
                <div class="delete" (click)="general.showDialog=true"></div>
            </div>
        </td>
    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit" (click)="general.add_user=true"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>

    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td><input class="checkbox" type="checkbox">123456</td>
        <td>This is part description long text</td>

        <td>3,300.00</td>

        <td>3,400.00</td>

        <td>
            <div class="actions">

                <div class="edit" (click)="general.add_user=true"></div>
                <div class="delete"></div>
            </div>
        </td>
    </tr>


</table>
<!-- add modal for price management -->
<div class="model-add-user" *ngIf="general.add_user">
    <div class="add-user">

        <div class="add-user-head">

            <h3>Add</h3>

            <div class="cancel-icon" (click)="general.add_user=false"></div>

        </div>

        <form class="add-user-form">

            <div class="add-user-data">

                <div class="price-m-input">
                    <label for="">Part Number*</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="price-m-input">
                    <label for="">Part Description*</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="price-m-input">
                    <label for="">Cost EA</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="price-m-input">
                    <label for="">Price EA</label>
                    <input type="text" placeholder="Enter Number">
                </div>


            </div>

            <div class="price-submit">
                <button>ADD</button>
            </div>
        </form>



    </div>
</div>


<div class="price-f">

    <button class="price-add" (click)="general.add_user=true">ADD</button>
    <button class="price-download">DOWNLOAD DATA <div class="dropdown-arrow-icon"></div></button>
    <button class="price-setting">PRICE SETTINGS</button>
    <button class="price-csv">CSV/EXCEL<div class="dropdown-arrow-icon"></div></button>

</div>


<!-- edit modal for price management -->

<div class="model-add-user" *ngIf="general.add_user">
    <div class="add-user">

        <div class="add-user-head">

            <h3>Edit Part# - 123456</h3>

            <div class="cancel-icon" (click)="general.add_user=false"></div>

        </div>

        <form class="add-user-form">

            <div class="add-user-data">

                <div class="price-m-input">
                    <label for="">Part Number*</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="price-m-input">
                    <label for="">Part Description*</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="price-m-input">
                    <label for="">Cost EA</label>
                    <input type="text" placeholder="Enter Number">
                </div>

                <div class="price-m-input">
                    <label for="">Price EA</label>
                    <input type="text" placeholder="Enter Number">
                </div>


            </div>

            <div class="price-submit">
                <button>UPDATE</button>
            </div>
        </form>



    </div>
</div>