<div class="add-inventory-container">
    <form [formGroup]="addInventory" class="add-inventory-form" (ngSubmit)="handleAddInventoryForm(addInventory.value)">

        <div class="add-inventory-data">

            <div class="add-inventory-input">
                <label for="" [ngClass]="{'error':job_id && job_id.invalid && job_id.touched}">Job
                    Numbers*</label>
                <input type="text" name="job_id" placeholder="Enter number" formControlName="job_id"
                    autocomplete="off">
                <span class="barcode">

                </span>
                <span class="err-msg" *ngIf="job_id && job_id.invalid && job_id.touched">Field is required
                </span>
            </div>

            <div class="add-inventory-input">
                <label for=""
                    [ngClass]="{'error':job_description && job_description.invalid && job_description.touched}">Job
                    Description*</label>
                <input type="text" placeholder="Enter text" formControlName="job_description">
                <span class="err-msg"
                    *ngIf="job_description && job_description.invalid && job_description.touched">Field is required
                </span>
            </div>


            <div class="add-inventory-input">
                <label for="" [ngClass]="{'error':area && area.invalid && area.touched}">Area</label>
                <input type="text" placeholder="Enter text" formControlName="area">
                <span class="err-msg" *ngIf="area && area.invalid && area.touched">Field is required
                </span>

            </div>

            <div class="add-inventory-input">
                <label for="" [ngClass]="{'error':part_number && part_number.invalid && part_number.touched}">Part
                    Number</label>
                <input type="number" placeholder="Enter number" formControlName="part_number">
                <span class="barcode">
                </span>
                <span class="err-msg" *ngIf="part_number && part_number.invalid && part_number.touched">Field is
                    required
                </span>
            </div>

            <div class="add-inventory-input">
                <label for=""
                    [ngClass]="{'error':part_description && part_description.invalid && part_description.touched}">Part
                    Description</label>
                <input type="text" placeholder="Enter text" formControlName="part_description">
                <span class="err-msg"
                    *ngIf="part_description && part_description.invalid && part_description.touched">Field is required
                </span>
            </div>

            <div class="add-inventory-input">
                <label for="" [ngClass]="{'error':quantity && quantity.invalid && quantity.touched}">Quantity</label>
                <input type="number" placeholder="Enter number" formControlName="quantity">
                <span class="err-msg" *ngIf="quantity && quantity.invalid && quantity.touched">Field is required
                </span>
            </div>

        </div>

        <div class="add-inventory-submit">
            <button class="btn" type="submit" [disabled]="!addInventory.valid"
                [class.notDisabled]="addInventory.valid">Add</button>
        </div>
    </form>
</div>